body {
  background-color: #161616;
  color: #ccc;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #262626;
}

main {
  margin: 5% 10%;
}

.start {
  position: relative;
  padding: 5%;
  /* background-color: #bb935c; */
  height: 700px;
  font-size: 3.5rem;
  font-weight: bold;
}

.start-img {
  width: 50%;
  position: absolute;
  bottom: 20%;
  right: 20%;
}

.placeholder {
  position: relative;
  height: 50px;
  background-color: #161616;
}

.aboutme {
  position: relative;
  padding: 15px;
  /* background-color: #bb935c; */
  height: 700px;
  margin-bottom: 100px;
}
.footer-a {
  padding: 10px;
}

.footer-p {
  padding: 2rem;
}

.data {
  padding: 2%;
  width: 20%;
}

.data a {
  text-decoration: none;
  color: #ccc;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.nav-header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

/* =====SolzialIconMenu===== */

.wrapper {
  position: relative;
  width: 20%;
  text-decoration: none;
}
.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #262626;
  color: #ccc;
  border-radius: 50%;
}
.btn {
  position: absolute;
  bottom: 20%;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: outline 0.25s;
}
.active .btn {
  outline: 2px solid #bb935c;
  outline-offset: -4px;
}
.item {
  position: absolute;
  bottom: 20%;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}

.item a {
  text-decoration: none;
  padding: 0;
}
.wrapper.active .item:nth-child(1) {
  transform: translateX(-65px);
}
.wrapper.active .item:nth-child(2) {
  transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3) {
  transform: translateX(65px);
}

/* ===== Scrollbar===== */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161616;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
