body {
  background-color: #161616;
  color: #ccc;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #262626;
}

header {
  margin-top: 50px;
}
main {
  margin: 5% 10%;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: #ccc;
}

.footer-a {
  padding: 10px;
}

.footer-p {
  padding: 2rem;
}

.data {
  padding: 2%;
  width: 20%;
  text-decoration: none;
}

.data a {
  text-decoration: none;
  color: #fff;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: #333;
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 20%;
  text-decoration: none;
}
.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #151515;
  border-radius: 50%;
}
.btn {
  position: absolute;
  bottom: 20%;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: outline 0.25s;
}
.active .btn {
  outline: 2px solid #bb935c;
  outline-offset: -4px;
}
.item {
  position: absolute;
  bottom: 20%;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}

.item a {
  text-decoration: none;
  padding: 0;
}
.wrapper.active .item:nth-child(1) {
  transform: translateX(-65px);
}
.wrapper.active .item:nth-child(2) {
  transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3) {
  transform: translateX(65px);
}
